<!DOCTYPE html>
<html lang="en">

<!-- #### HEAD #### -->
<head>
 
  <meta charset="UTF-8" />
  <meta name="viewport" content="witdth=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
<title>{% block title %}Prueba!{% endblock %}</title>

  <!-- #### CSS PBOOSTRAP #### --> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       
  <!-- #### CSS PERSONALIZADOS #### --> 
  <link rel="stylesheet"  href="{{ asset ('css/estilo-main.css')}}"> <!-- ~~ ESTILO "MAIN "~~ --> 
  <link href="{{ asset ('css/estilo-formulario.css') }}" rel="stylesheet"> <!-- ~~ ESTILO DEL FORMULARIO ~~ -->  

</head>


<!-- #### BODY #### --> 
{% block body %}
<body>

<!-- #### HEADER #### --> 
<section id="header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a href="/" class="navbar-brand">CNRT | Control del Transporte </a>
        <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="/paises" class="nav-link">PAISES</a>  
            </li>
            <li class="nav-item active">
              <a href="/provincias" class="nav-link">PROVINCIAS</a>  
            </li>
            <li class="nav-item active">
              <a href="/nuevopais" class="nav-link">NUEVO PAIS</a> 
            </li>
            <li class="nav-item active">
              <a href="/nuevaprovincia" class="nav-link">NUEVA PROVINCIA</a> 
            </li>
          </ul>
        </div>   
      </div>
    </nav>
  </div> <!-- ~~ FIN DIV CONTAINER-FLUID ~~ -->
</section> <!-- #### FIN HEADER #### -->

<!-- #### MAIN #### -->
<section class="main">
  {% if edit is not null %}   <!-- ~~ SI EL PATH CONTIENE UNA ID DE PAIS (VA A EDITAR) ~~ -->
  <h1>Editar País</h1>
  {% else %}                  <!-- ~~ CASO CONTRARIO (NUEVO PAIS) ~~ -->
  <h1>Creación de nuevo País</h1> 
  {% endif %}
    <div class="form">
      {{form(form)}}
    </div>
  <a href="/paises" class="btn btn-secondary" id="botonpactivos">Ir a paises activos</a>
</section> <!-- #### FIN MAIN #### -->


<!-- #### BLOQUE JS #### -->
 {% block javascripts %}
 
{% endblock %} <!-- #### FIN BLOQUE JS #### -->

</body> <!-- #### FIN BODY #### -->

{% endblock %}
</html>
