<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="witdth=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{% block title %}Prueba!{% endblock %}</title>  

  <!-- #### CSS BOOSTRAP #### -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- #### CSS PERSONALIZADOS #### --> 
  <link rel="stylesheet"  href="{{ asset ('css/estilo-main.css')}}">
 

</head>

<!-- #### BODY #### --> 
{% block body %}

<body>
 <!-- #### HEADER #### --> 
  <section id="header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a href="@homepage" class="navbar-brand">CNRT | Control del Transporte </a>
        <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="/paises" class="nav-link">PAISES</a>  
            </li>
            <li class="nav-item active">
              <a href="/provincias" class="nav-link">PROVINCIAS</a>  
            </li>
            <li class="nav-item active">
              <a href="/nuevopais" class="nav-link">NUEVO PAIS</a> 
            </li>
            <li class="nav-item active">
              <a href="/nuevaprovincia" class="nav-link">NUEVA PROVINCIA</a> 
            </li>
          </ul>
        </div>   
      </div>
    </nav>
  </div>
  </section>

<!-- #### MAIN #### -->
<section class="main">
    <div class="container">
      
        <div class="col-sm-6">
        <h1>Comisión Nacional de Regulación del Transporte</h1>
        <p>Aquí se mostraran los paises activos</p>
        <a href="/paises" type="button" class="btn btn-primary rounded-pill aux">MOSTRAR</a>
          </div>
      
    </div>

  </section>
  


<!-- #### BLOQUE JS #### -->
 {% block javascripts %}

{% endblock %} <!-- #### FIN BLOQUE JS #### -->

</body>

{% endblock %}
</html>