<!DOCTYPE html>
<html lang="en">

<!-- #### HEAD #### -->
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="witdth=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>{% block title %}Prueba!{% endblock %}</title>  
  
  <!-- #### CSS PBOOSTRAP #### --> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- #### CSS PERSONALIZADOS #### --> 
  <link rel="stylesheet"  href="{{ asset ('css/estilo-paisid.css')}}">

</head>


<!-- #### BODY #### --> 
{% block body %}

<body>

<!-- ### HEADER ###--> 
  <section id="header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a href="/" class="navbar-brand">CNRT | Control del Transporte </a>
        <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>       
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="/paises" class="nav-link">PAISES</a>  
            </li>
            <li class="nav-item active">
              <a href="/provincias" class="nav-link">PROVINCIAS</a>  
            </li>
            <li class="nav-item active">
              <a href="/nuevopais" class="nav-link">NUEVO PAIS</a> 
            </li>
            <li class="nav-item active">
              <a href="/nuevaprovincia" class="nav-link">NUEVA PROVINCIA</a> 
            </li>
          </ul>
        </div>  
      </div>
    </nav>
  </div>
</section> <!-- ### FIN HEADER ###--> 


<!-- ### MAIN ###-->
<section class="main">
    <h1>{{unPais.descripcion}}</h1>
    <div class="container"> 
      <div class="col-sm-6"> 
            <table class="table table-dark table-striped">
                    <thead>
                        <th>ID</th>
                        <th>Descripcion</th>
                        <th>Abreviacion</th>
                        <th>Activo</th>
                      </tr>
                    </thead>
                    <tbody>
                       <tr>
                        <td>{{ unPais.id }}</td>
                        <td>{{ unPais.descripcion }}</td>
                        <td>{{ unPais.abrev }}</td>
                        <td>{{ unPais.activo }}</td>
                      </tr>            
                    </tbody>
            </table> 
                  <h2> Listado de Provincias </h2>
                   <div class="tablaProvincia posY"> 
                        <table class="table table-dark table-striped mb-0" id="tablaProvincia">
                            <thead>
                              <tr>
                                <th>Listado de Provincias</th>  
                              </tr>
                              <tr>
                                <th>ID</th>
                                <th>Descripcion</th>
                                <th>Abreviacion</th>
                                <th>Activo</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for unaProvincia in listProvincias %}
                               <tr>
                                <td>{{ unaProvincia.id }}</td>
                                <td>{{ unaProvincia.descripcion }}</td>
                                <td>{{ unaProvincia.abrev }}</td>
                                <td>{{ unaProvincia.activo }}</td>
                              </tr>     
                              {% endfor %}       
                            </tbody>
                          </table>
                   </div> <!-- ~~FIN DIV TABLA PROVINCIAS ~~ -->
      </div>  <!-- ~~FIN DIV COL-SM6 ~~ --> 
      <div id="botones">
                          <a href="/paises"  class="btn btn-success" >VOLVER</a>
                          <a href="del/{{unPais.id}}" class="btn btn-danger" role="button">ELIMINAR</a>
                          <a href="/nuevopais{{unPais.id}}" class="btn btn-secondary" role="button">EDITAR</a>  <!--  ELIMINAR -->
      </div> <!-- ~~FIN DIV BOTON GROUP ~~ -->
    </div> 
      
</section> <!-- ### FIN MAIN ###-->
  


<!-- ### BLOCKE JS ###-->
{% block javascript %}

{% endblock %}

</body>
{% endblock %}

</html>
