<!DOCTYPE html>
<html lang="en">

<!-- #### HEAD #### -->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="witdth=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>{% block title %}Prueba!{% endblock %}</title>
  
  <!-- #### CSS PERSONALIZADOS #### --> 
  <link rel="stylesheet"  href="{{ asset ('css/estilo-main.css')}}"> <!-- ~~ ESTILO "MAIN "~~ --> 
 
  <!-- #### CSS PBOOSTRAP #### --> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


</head>
   

<!-- #### BODY #### -->     
{% block body %}
  <body >

<!-- #### HEADER #### --> 
<section id="header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a href="/" class="navbar-brand">CNRT | Control del Transporte </a>
        <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>      
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="/paises" class="nav-link">PAISES</a>  
            </li>
            <li class="nav-item active">
              <a href="/provincias" class="nav-link">PROVINCIAS</a>  
            </li>
            <li class="nav-item active">
              <a href="/nuevopais" class="nav-link">NUEVO PAIS</a> 
            </li>
            <li class="nav-item active">
              <a href="/nuevaprovincia" class="nav-link">NUEVA PROVINCIA</a> 
            </li>
          </ul>
        </div> 
      </div>
    </nav>
  </div> <!-- ~~ FIN DIV CONTAINER-FLUID ~~ -->
</section> <!-- #### FIN HEADER #### -->


<!-- ### MAIN ###-->
<section class="main">
    <h1>paises activos</h1>  

 <div class="container"> 
    {% if action == 1 %} <!-- SI CREA/EDITA UNA PROVINCIA -->  
    <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Ok</strong> Acción realizada con éxito
    </div>
    {% endif %}
    
    {% if action == 2 %} <!-- SI ELIMINA UNA PROVINCIA -->  
    <div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Info!</strong> El país fue eliminado con éxito
    </div>
    {% endif %}

<!-- ### TABLA DE PAISES ACTIVOS ###-->
    <table class="table table-dark table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th><h3>Descripcion</h3></th>
            <th class="size"><h3>Accion</h3></th>
          </tr>
        </thead>
      <tbody>                    
        {% for unPais in paises %}
          {% if unPais.activo == 1 %}
            <tr>
              <div class="boton-lista">
                <td><a href="/paises/{{unPais.id}}" class="navbar-brand">{{ unPais.descripcion}} <i class="fas fa-info-circle"></i></a></td>
                <td><a href="/nuevopais{{unPais.id}}" class="btn btn-light" role="button">Editar</a><a href="paises/del/{{unPais.id}}" class="btn btn-danger" role="button">Eliminar</a></td>
              </div>
            </tr> 
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <a href="/nuevopais"  class="btn btn-success" id="addpais" >Agregar nuevo pais</a>

  </div>
</section> <!-- ### FIN MAIN ###-->


  <!-- ### BLOQUE JS ###-->
{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% endblock %} <!-- #### FIN BLOQUE JS #### -->

</body><!-- #### FIN BODY #### -->

{% endblock %} <!-- #### FIN BLOQUE BODY #### -->
</html>
