/* CSS FORMULARIO */


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

label{
	color: white !important;
}

#form_activo { 
	position: relative!important;
	left: 14px;
	transform: scale(1.5);

}

#form_Crear{
	
	background-color: #4CAF50;
	color: white;
	text-align: center;
	font-size: 22px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	width: 50%;
	padding: 5px;
	border:none;
	margin-left: 25%;

}

#appbundle_pais_guardar:hover {
  background-color: #3e8e41;
  }

.form {
  border-radius: 5px;
  background-color: rgba(122, 120, 120, 0.45);
  width: 70%;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
}

#botonpactivos{

  margin-top: 3%;
  position: relative!important;
  margin-left: 45%;

}