.tablaProvincia {
	height: 550px;
	position: relative;
	overflow: auto;
	
}

.posY {
	display: block;
}	

.table-dark.table-bordered {
	width: 100% !important;

}

#botones {
	margin-top: 3%;
	margin-left: 40%;
	margin-right: 40%;

}