.formulario {

	margin-top: 4%;

}

.form-inline label {

	color: white;
}

#desc{
	margin-left: 2%;
	margin-bottom: 1%;
}

#abrev {
	margin-left: 2%;
	margin-bottom: 1%;
}


 #id{
	margin-left: 2%;
	margin-bottom: 1%;
}

#botonActualizarID{
	margin-left: 2%;
}
