*{
	margin: 0;
	padding:0;

}

#header{
	position: absolute;
	z-index: 10;
	width: 100%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	background-color: rgba(49, 49, 49, 0.1);
}

.navbar{
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	
}

.navbar-brand{
	font-weight: 600;
	font-size: 1.5em;
	height:40%;
}
.navbar-dark .navbar-brand{
	color: #dcdde1;
}

.nav-item{
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 10px;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover{
	background: #dcdde1;
	color: #262626;

}

.main{

	position: relative;
	background: url(../img/img2.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 220px 0 200px;
}

.col-sm-6 {
    margin: auto;
    margin-top: 150px;
    max-width:100%;

}

.main h1{
	text-align: center;
	padding: 0;
	font-size: 5.6em;
	color: #dcdde1;
	text-transform: uppercase;
	font-weight: bold;
}

.main h2{
	text-align: center;
	padding: 0;
	font-size: 2.6em;
	color: #dcdde1;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 40px;
}

.main p{
	text-align: center;
	margin-top: 2em;
	padding: 0;
	font-size: 1em;
	color: #dcdde1;
}

.main .btn{
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;

}
.btn {
	margin-top: 2em;
	 display:block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
 
}

.btn-primary{
	width: 150px;
	border-color: #fff;
}

.rounded-pill {
	border-radius: 24px;
	
}

.tablaProvincia {
	position: relative;
	height: 400px;
	overflow: auto;
}

.posY {
	display: block;
}






@media(max-width: 768px){
	.main{
		padding: 200px 0;
	}

	.main h2{
		font-size: 2em;
	}

}



